.container {
  background-color: black;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  &.test {
    border: 10px solid aqua;
  }
}

// .test {
//   border: 10px solid aqua;
// }

.globalBtn {
  background-color: pink;
}

:global .globalBtn {
  background-color: yellow;
}
