.monthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .total {
    flex: 1;
    padding: 10px;
    margin-bottom: 0;
  }
  .month {
    flex: 1;
  }
}

.thead th {
  padding: 10px;
}

.body td {
  padding: 10px;
}
